*.log
.DS_Store
node_modules
dist

/bower_components/
/node_modules/
/.pulp-cache/
/output/
/generated-docs/
/.psc-package/
/.psc*
/.purs*
/.psa*
/.spago
/.vscode
.purs-repl
/.vscode/settings.json
/src/ps_.js